<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>

    <form method="POST">
        {% csrf_token%}
        <label for="name">user name: </label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="password">password: </label>
        <input type="password" name="password">
        <br>
        <br>
        {% if not is_sign_in%}
        <h2 style="color: red;">{{msg}} <a href="{% url 'signin_page' %}"> Go and Sign In</a></h2>
        {% endif %}
        <button>Log In </button>
    </form>


</body>

</html>